[submodule "qt5"]
	path = qt5
	url = https://github.com/qt/qt5.git
[submodule "VTK"]
	path = VTK
	url = https://github.com/Kitware/VTK.git
[submodule "ITK"]
	path = ITK
	url = https://github.com/InsightSoftwareConsortium/ITK.git
